[2014-03-29 22:55] fbaligand opened #4 "new feature : add edit verb"
Hi,

It would be usefull to add a "edit" verb, which allows to update "release title" and "description".
For me, it is useful when I use maven to release my project. Maven auto-generates a tag on github, which auto-generates a release on github with a default "release title" not pretty, and no "description".

So with such a verb, I could automate update of github release informations.

[2014-04-03 21:23] #4 closed, assigned to nobody

[2014-06-23 06:31] lox opened #7 "error: could not unmarshall JSON into Release struct, parsing time ..."
I get the following error  when running commands:

[code]

[2014-06-25 01:40] colindean opened #8 "Building from source tarball: make fails"
[code]

[code]

Using `go` installed by Homebrew, just a few minutes ago. I'm actually in the process of writing a Homebrew formula for `github-release`.

[2014-06-25 07:41] #8 closed, assigned to nobody

[2014-06-25 23:16] colindean opened #9 "Executable takes on the name of the directory"
[code]

Looks like the `go build` line should be `go build $(EXECUTABLE)`.

[2014-06-26 13:14] #9 closed, assigned to nobody

[2014-08-23 10:27] sorbits opened #10 "Read password from .netrc and repository from current directory"
It would be nice if `github-release` would use `~/.netrc`.

I have the following line:

[code]

This is used e.g. by `curl` with `-n/--netrc` so to list my releases I can use:

[code]

Would also be nice if repository would default to that of the current directory, a command like the following can be used to find the remote URL for the remote branch tracking `master`:

[code]

If we want to be tho

[2014-09-13 01:44] slantview opened #11 "Current release 0.5.2 doesn't work with GHE"
Github Enterprise support works with master, but not with 0.5.2.  Can you please cut a new release?

[2014-10-29 02:12] rgarcia opened #12 "Allow specification of target_commitish when creating a release"
Currently it's not possible to pass this parameter when creating a release, so all releases by default will tag the current master branch.

[2014-12-21 18:55] drnic opened #13 "Did github API change for upload?"
Am getting the following error today:

[code]

[2014-12-21 19:42] #13 closed, assigned to nobody

[2014-12-31 22:27] c4milo opened #15 "Feature request: Allow providing files to release command."
I would be convenient if the `upload` command could be integrated into the `release` command. Adding as well the ability to provide multiple file paths to the `--file` flag.

[2015-01-01 23:36] #7 closed

[2015-01-02 00:07] aktau commented on #11
A bit strange, as there were no commits after 0.5.2 when you posted this issue (sorry for taking this long, btw). However, 0.5.3 has been released now. Does it fix your issue? If not, can I see an error message?

[2015-03-19 21:32] nikhilpandit opened #18 "Bug: unable to download release artifact from private repo"
Getting the following error:
`error: could not fetch releases, Get <amazon s3 link>`
`too many redirects`

[2015-03-31 11:08] Tenzer opened #19 "Add way of getting version number from binary"
This is just a minor thing, but it would be nice if you could either add a `--version` flag or add the version number of the build to the help output.
In my case I am just copying the binary from the releases page to a server, and after that I will have no way of telling which version I have installed. This can be important if I at a later point want to know if there's a new version available, or

[2015-03-31 11:39] Tenzer commented on #12
Seeing that you have made commits to the project since the last comment, I wonder if this is something you could consider adding? :)

[2015-04-01 07:44] pgokul opened #21 "Feature request: Add an option to download the latest release"
It would be great if the latest release could be downloaded from a repo instead of always specifying a tag.
The api seems to provide it - https://developer.github.com/v3/repos/releases/#get-the-latest-release

[2015-04-10 19:55] slantview commented on #11
This did fix my error, sorry for the late reply.

[2015-04-10 19:55] #11 closed

[2015-04-27 22:42] tcurdt opened #23 "fails to find releases (and hence fails to upload)"
I am trying to upload a release but it fails

    GITHUB_TOKEN=... github-release upload \
    		--user tcurdt \
    		--repo docker-upstream \
    		--tag 1.0.0 \
    		--name upstream_1.0.0_linux_x86_64.tgz \
    		--file release/upstream_1.0.0_linux_x86_64.tgz
    error: could not find the release corresponding to tag 1.0.0

Then checking with `info`:

    $ github-release info -u tcurdt -r doc

[2015-04-27 22:46] tcurdt commented on #23
GET https://api.github.com/repos/tcurdt/docker-upstream/tags?access_token=... -> &{200 OK 200 HTTP/1.1 1 1 map[X-Accepted-Oauth-Scopes:[] Access-Control-Allow-Credentials:[true] X-Ratelimit-Remaining:[4987] X-Ratelimit-Reset:[1430177167] X-Oauth-Scopes:[public_repo] Access-Control-Allow-Origin:[*] X-Ratelimit-Limit:[5000] Last-Modified:[Mon, 27 Apr 2015 22:31:57 GMT] X-Xss-Protection:[1; mode=bloc

[2015-04-27 23:18] tcurdt commented on #23
Nevermind - that was just the tag and a new release has to be created first.
Wasn't that just an upload before? Anyway!

[2015-04-27 23:18] #23 closed

[2015-05-10 22:32] itai-codefresh opened #24 "can't show details for repos from organization"

[2015-05-29 06:57] retorquere opened #25 "Delete assets?"
Is it possible to delete assets on an existing release?

[2015-06-27 10:56] mfonville commented on #25
I would also be very interested in this feature, because sometimes uploads fail, and it would be really useful to delete the 'broken' asset.

[2015-06-27 12:56] mfonville opened #26 "Timeouts of Uploads"
GitHub seems to have a bit of server trouble lately,
and when uploading the upload sometimes dies, which should give a time-out or something like that. But this situation is not detected by github-release, so the command just runs 'forever'. Adding some kind of time-out detection (explicit or implicit) would be very useful.

[2015-07-07 10:23] mfonville opened #27 "Feature request: let the upload asset ID be returned by the upload command"
Sometimes, especially if an upload fails, it is useful to get the asset ID that the upload command got in its body{} statement. It would be useful if this value could be returned, if requested.

[2015-08-04 13:05] mfonville opened #28 "Allow setting the label when uploading an asset"
The GitHub API allows one to set a label for an asset, this would be useful.

See: https://developer.github.com/v3/repos/releases/#input-2

[2015-08-05 10:57] soniah opened #29 "multi-platform releases"
Hi Nicolas, thanks for writing github-release and sorry to raise an issue in order to ask a question.

I'm wondering if you have any pointers on how to do releases for multiple platforms (Linux, OSX, Windows). Do you just have multiple machines and run the build on each machine? I'm also looking at Travis-CI, see if I can use that.

Thanks, Sonia.

[2015-08-12 00:20] ivotron opened #30 "Feature request: Read GITHUB_REPO and GITHUB_USER from `.git/config`"
Is it OK to assume that this can be inferred from the `[origin]` entry in `.git/config`?

[2015-08-18 01:59] carpnick opened #31 "Suggest a new output of nuget package"
Example Nuspec file:
[code]

Then call:
[code]

[2015-08-18 02:03] carpnick commented on #31
https://www.nuget.org/packages/github-release/ as an example

[2015-08-25 12:44] awh opened #32 "Errors should be printed to stderr not stdout"

[2015-08-29 21:54] aktau commented on #31
I'm not entirely sure what you mean. Do you mean that `github-release` should generate its own NuGet spec file?

[2015-08-29 21:56] aktau commented on #30
Yes, this is definitely feasible if a user is within a git repository. One would need to scan upwards for a git repo and then parse the git config format. PRs welcome if you like :).

[2015-08-29 21:59] aktau commented on #29
Well, if you look at the [Makefile](https://github.com/aktau/github-release/blob/master/Makefile) for github-release for example, you'll see that it generates executables for FreeBSD/Linux/OSX/Windows when `make release` is called. With Go, this is really easy, as you only need to set the `GOOS` and `GOARCH` (and `GOARM` if `GOARCH` is arm) environment variables and perform a go build. Since `gith

[2015-08-29 21:59] #29 closed

[2015-08-29 22:14] aktau commented on #26
This is a bit tricky to do in a fully automated way, as it would need to check whether an upload is not progressing at all instead of just progressing slowly. I'm not sure if any of the default timeout ways on http.DefaultClient/Transport/... has a know for connections that stall somewhere in the middle.

Would a generic `--timeout` flag also be good? It would mean that an upload was only attempte

[2015-08-29 22:15] aktau commented on #24
Not sure why this doesn't work, but as far as I know I"m not part of an organizations I can't test. Can you be a bit more specific about your situation and print any applicable errors?

[2015-08-29 22:31] soniah commented on #29
:+1:

[2015-08-29 22:35] #19 closed

[2015-08-29 22:35] #28 closed

[2015-08-29 22:35] #32 closed

[2015-08-29 23:25] carpnick commented on #31
No I was suggesting as part of your release process (pun-intended :)) - you currently ship a windows CLI utility in a zip.  I was looking to integrate this into C# based builds by using the Nuget gallery (C# based depdency management) and NAnt

So the link I posted above was the repackaged zip as a Nuget package that could be easily integrated into C# based solutions/build systems.  If you would l

[2015-08-29 23:25] carpnick commented on #31
The file I offered above was a sample file you could use to build a nuget package with your utility.

[2015-08-30 11:39] aktau commented on #31
Well, I don't have anything against it. Yet I don't have a C# environment installed at home, do I need one? I tend to use only Linux and OSX since I don't feel like paying for a Windows license.

I guess my question is: what's your workflow for publishing such a package?

[2015-08-30 19:54] #21 closed

[2015-08-30 20:12] aktau commented on #12
I'm not sure how to even get this to work, it keeps returning "422 Unprocessable Entity" entity for me.

Can you list your workflow where this could be handy? I'm interested.

Anyway, the change seems sane and conforms to the GH API so I"m merging it.

[2015-08-30 20:13] #12 closed

[2015-08-31 08:28] mfonville commented on #26
A generic --timeout would also e good, yes.
Most important though, would be to process the response headers of GitHub in such a way that an upload asset which is deemed to be failed at some point will be gracefully removed. Because currently the GitHub API does not expose any failed asset uploads, but the upload itself should have the asset ID, which it then should remove (otherwise it blocks any

[2015-09-08 03:18] carpnick commented on #31
Usually this is Windows.

Basic Workflow.
* Build the Windows based binaries (github-release.exe)
* Call Nuget pack using the sample .nuspec to create a Nuget Package
* Call Nuget push to publish it to [nuget gallery](https://www.nuget.org/)

Looks like alot of people have figured out how to use mono to get Nuget to work on Linux/Mac:
https://github.com/dungpa/dsls-in-action-fsharp/blob/master/.nu

[2015-09-08 10:54] jnweiger opened #33 "Feature: progress indicator"
I am uploading several hundred megabytes of assets to github. A simple progress bar or completion percentage would be great with the -v option and/or a new -p option.

[2015-09-09 13:43] jnweiger commented on #33
Workaround using https://github.com/jnweiger/showspeed: run with showspeed --cmd github-release upload ....

[2015-09-10 14:58] Tenzer commented on #12
Hey @aktau. Thanks for merging it in. It seems like you need to either use the full commit SHA or a branch name as the target, you cannot just use part of a commit SHA.

I made a test repository at [github-release-test](https://github.com/Tenzer/github-release-test) with 5 empty commits, and a branch called [up-to-commit-4](https://github.com/Tenzer/github-release-test/commits/up-to-commit-4) whic

[2015-09-10 15:17] Tenzer commented on #30
Alternatively `git config` or an API version of it can help detect and parse a config file for a Git repository.

[2015-12-11 23:08] Careerbuilder2016 opened #37 "Feature: Create releases without tags"
Here is my problem: I want to be able to create releases without tags just like you can create tags without releases. The problem is that GitHub provides an API for releases but not for tags. The only way to remove tags is to use the git cli commands in the repository. Example:

```git ls-remote --tags origin | awk '/^(.*)(\s+)(.*[a-zA-Z0-9])$/ {print ":" $2}' | xargs git push origin```

Is there

[2015-12-16 13:41] ailin-nemui commented on #37
those "releases" would be invisible Drafts, right?

[2015-12-16 16:32] Careerbuilder2016 commented on #37
Yes exactly. Here is an image of what it would look like:

![Image of Draft](http://i64.tinypic.com/zwm2au.png)

The problem is that, once the tag is deleted it becomes a draft, but it is still in the release API under releases. Still considered prerelease or release depending on what it was added as. But the tags cannot be removed through the API only through the git cli.

[2015-12-16 19:44] ailin-nemui commented on #37
just use `--draft` instead of first pushing and then deleting the tag. keep in mind that drafts are only visible to yourself while logged in

[2015-12-16 21:12] Careerbuilder2016 commented on #37
Awesome, so when I specify --draft instead of prerelease or release it will automatically create a release without a tag?

I definitely did not notice this when doing ```github-release --help```

So even though they are only visible to me, I can get them from the Release API, correct?
This looks like the functionality I need.

[2015-12-17 11:28] fasterthanlime opened #38 "Feature: built-in retry logic"
After a week of releasing daily on github releases, I'm a bit frustrated with how often it returns 502 :(

I know it's absolutely not your fault, and ideally this would be a beautiful PR and not a feature request, but if anyone can find it in their heart to implement that before I get around to, it would be beautiful. :tada:

I'm thinking maybe a `--tries` option (how many times to try) with a `--

[2015-12-21 22:50] #37 closed

[2016-01-26 01:26] rberger opened #41 "Can't get info or edit releases older than github API single pagination"
It looks like the `GithubGet` method gets just the latest set of releases and won't go thru the pagination. So if I want to get `info` or `edit` a release / tag that is older than what fits in one page retrieved by `GithubGet` it won't work.

My Go Fu isn't up to figuring out how to do it myself correctly.

[2016-03-11 22:21] nathanleclaire opened #43 "Force upload?"
Is it possible to use `github-release` to force upload binaries if there are some already in place?

For some automation we're working on we have artifacts getting added on to an existing release, but sometimes corrupted ones get uploaded (due to a build fault) and we have to re-run the upload portion.  Right now we will manually remove them if such a thing happens.  Would there be interest in suc

[2016-04-01 14:15] vickey58 opened #44 "latest release v0.6.2 windows build is not latest"
Hi I downloaded the the latest release v0.6.2 windows build(**windows-amd64-github-release.zip**) and run the command to create git TAG from a branch using command release with parameter --target.
following is my command
github-release release --user ${GITHUB_ORGANIZATION} --repo ${GITHUB_REPO}--${VERSION_NAME} --name ${VERSION_NAME} --description "bla bla bla" --target ${BRANCH_NAME}

[2016-04-24 13:07] ThirteenAG commented on #41
I was having the same problem, so I had to use a workaround:
	RELEASE_LIST_URI    = "/repos/%s/%s/releases%s&per_page=100"
	RELEASE_LATEST_URI  = "/repos/%s/%s/releases/latest%s&per_page=100"
	TAGS_URI = "/repos/%s/%s/tags%s&per_page=100"

[2016-05-03 19:38] jaymecd commented on #30
would be awesome.
👍

[2016-05-03 20:19] jaymecd opened #45 "Pagination support for tags"
I have over 100 tags in the repo, but see only 30 of them

[2016-05-08 09:27] mfonville commented on #43
@nathanleclaire I suggest you check out https://github.com/itchio/gothub/issues/1

[2016-05-30 15:37] mzmousa opened #48 "Uploading multiple files in one --file argument"
Is it possible to upload multiple files at once with one `github-release upload` command, or must each file be uploaded in separate commands?
For example, I was wondering if this was possible, from the `README`:

[code]

[2016-05-30 18:38] mzmousa commented on #15
+1

[2016-06-03 17:48] drewkerrigan commented on #30
Hello, before noticing this issue, I hacked together #49 which I think addresses the request from this issue as well. Comments and critiques welcome.

[2016-06-09 15:19] mzmousa opened #50 "Releases being uploaded with the same date"
Every time I push a new release to github, it uses the exact same date as all my other releases. They all say "10 days ago". Running on OSX.

[2016-06-12 00:02] mzmousa commented on #50
Solved. The date of the latest release is set to the latest commit date.

[2016-06-12 00:02] #50 closed

[2016-06-13 18:13] mloskot commented on #33
I'd be also thankful for considering this feature request. @jnweiger thanks for the `showspeed` workaround.

[2016-07-09 00:48] fusion809 opened #51 "Notification: AUR package for github-release created"
Hi,

I was referred to this program by @rsese, and I loved it so much I decided to create a package for the Arch User Repository (AUR) for it, [`github-release-bin`](https://aur.archlinux.org/packages/github-release-bin/). I am mentioning this because I thought it would be worthwhile mentioning this alternate means of installing this program on Arch Linux/derivative distributions (e.g., Manjaro Li

[2016-07-09 01:16] fusion809 opened #52 "Feature request: allow deleting individual binary releases"
Hi,

I think it would be handy if one could also delete binary releases with this tool. I know you can delete tags, which will delete all attached binary releases, but how about deleting individual binary releases?

Thanks for your time,
Brenton

[2016-07-09 04:23] fusion809 commented on #51
I created an extra AUR package, this one builds from source, [`github-release`](https://aur.archlinux.org/packages/github-releases).

[2016-08-02 19:35] alexblack commented on #48
+1

[2016-10-07 18:33] neurosnap commented on #44
I'm running into the same issue with the linux build.

[2016-11-08 13:04] emoshaya-cognito opened #53 "error: github did not response with 200 OK but with 404 Not Found"
I'm running the following:

[code]

I keep getting the following error:

error: github did not response with 200 OK but with 404 Not Found

cqrs is a private repository in CognitoIQ Organisation. Could you please help?

[2016-11-23 00:34] akaspin commented on #53
bump

[2016-12-09 16:11] GabLeRoux commented on #53
@akaspin --user is not your actual user, it's the left part of the repo, ex, for the current repository, the command line would look like this:

[code]
I confirm the above command works. User is not your user, it's the user who owns the repository or the organization. This is definitely confusing indeed.

[2016-12-13 19:49] emoshaya-cognito commented on #53
Thanks @GabLeRoux I can confirm your suggestion works.

[2016-12-13 19:50] #53 closed

[2016-12-13 19:51] emoshaya opened #55 "--force option to overwrite existing release"
When I try to perform a release using the exact same release/tag name, I get the following error:

error: github returned 422 Unprocessable Entity (this is probably because the release already exists)

It would be nice to be able to pass a --force option to force overwriting existing release.

[2016-12-13 19:59] emoshaya-cognito commented on #48
+1

[2017-01-04 17:49] cholick opened #56 "Github Releases & Binaries"
Please attach the binaries to the Github release.

Currently, a release's description includes links off to binaries which are not actually part of the release. This makes it difficult to programmatically access the released binaries, such as with Concourse's https://github.com/concourse/github-release-resource.

[2017-01-04 17:49] #56 closed

[2017-01-04 17:50] cholick commented on #56
Sorry; had focus on the wrong project.

[2017-01-11 08:06] kuboosoft commented on #24
Same problem... Not found the repository...

[2017-01-11 11:21] vinaybheri opened #57 "github-release for new organisation."
I am able to work with this github-release for my user account.
But, I need to automate upload release and binary to separate development organization's repo. And, We can't create GITHUB_TOKEN key for organization in github.

So, is there a way to get it done?

[2017-02-12 09:34] ostcar commented on #48
It would also be nice, if all files from a directory could be uploaded at once. For example with ```--file path/to/dir/*```

[2017-02-20 18:48] GabLeRoux commented on #45
I just hit that wall too
[code]

Can't see previous releases. I suppose there's something to do near this line:
https://github.com/aktau/github-release/blob/3512bf91cf6a70eff10f332e9604f228acb463c9/tags.go#L30

https://github.com/itchio/gothub/issues/1 talked about a workaround by adding `per_page=100`. The project I use this for has quite a lot of tags (more than 30).

[2017-02-21 19:08] iwconfig opened #60 "Missing "--label" option in OSX binary"
Well, as mentioned says. f10dc9e is not in the OSX binary release version 0.6.2.

[2017-02-21 19:10] iwconfig commented on #60
`--version` also doesn't work

[2017-03-24 00:14] kevinburke opened #61 "github-release download: write to stdout or specify file location"
I'd like to write

[code]

However the only documented option for github-release is to download to the current directory, to a file whose name matches the release filename.

[2017-03-25 11:45] #61 closed

[2017-03-25 11:50] aktau commented on #61
Should be fixed in 0.6.3. Sorry I didn't see your PR, which would've also been fine. The solution I hacked up doesn't involve adding a new flag, and I would hope it does the right thing in 99% of all circumstances.

[2017-03-25 11:52] aktau commented on #57
I'm actually not sure, I've never worked with Github organisations in this way before. I do think some sort of token will be required, as github-release needs to have permissions. Perhaps you can create a reduced-privilege token?

[2017-03-26 14:56] aktau commented on #45
The `per_page=100` thing would work for a while, but if a repo has more than 100 tags, you run into the same problem. I have a workaround (clever hack?) that does pagination transparently on the JSON stream for things calling `GithubGet`, so that the callers don't need to change.

Ping @mfonville and @fasterthanlime for some input.

[2017-03-26 14:59] #45 closed

[2017-03-26 17:59] aktau commented on #51
Good to know. Thanks :).

[2017-03-26 17:59] #51 closed

[2017-03-26 18:00] aktau commented on #44
This is very strange. So a build that was marked as v0.6.2 did not have the option? Maybe something is wrong with my makefile. Anyway, does the current latest build show the problem?

[2017-03-26 18:01] aktau commented on #41
This has since been fixed (see https://github.com/aktau/github-release/commit/85aea45fc23f3479ee6d50476dc82b44d42cf9a1). Try the latest version (or compile from head to get rate-limited even less). Please let me know if it still doesn't work.

[2017-03-26 18:01] #41 closed

[2017-03-26 18:03] aktau commented on #33
Hmm, a general progress indicator is (I think) a bit bloaty. However, you can use `-` to upload from stdin. To get an idea of the progress:

[code]

Is this good enough? Please let me know.

[2017-03-26 18:03] #33 closed

[2017-03-26 18:05] aktau commented on #15
I'm on the fence with this one. I realize it would make live easier, but I've already created a horrible command-line UI (I'd like to think I'd do it better if given another chance). Is there any more specific motivation for this other than "more convenient"? (Not that I think more conveniece bad, just that I'm trying to justify adding more options).

[2017-03-26 18:05] #24 closed

[2017-03-26 18:10] aktau commented on #38
First of all apologies for basically not looking at the open issues, and kudos on your forks which solves your and other people's issues.

[2017-03-26 18:53] fasterthanlime commented on #38
@aktau no need to apologize :) You left a clean codebase for people to fork & expand to fit their needs, that's pretty good value for a $0 investment on the users' part!

[2017-03-26 22:04] aktau commented on #38
Thanks, but I'll apologise anyway. Even if users don't invest anything, they still deserve to be treated with respect instead of being ignored (no matter if I rolled into a job that sucked up much more of my time). Doubly so when they aport code to fix their own issues (triply so if they do so to fix others' issues).

I couldn't help but chuckle when you complement the clean codebase. Many parts o

[2017-03-26 22:54] #38 closed

[2017-03-27 03:47] c4milo commented on #15
Hey! This was a long time ago and no longer relevant. Feel free to close it. Thanks!

[2017-03-27 07:47] aktau commented on #43
In Addition to bringen available in gothub as @mfonville said, github-release 0.7.0 now also supports the --replace flag.

[2017-03-27 07:47] #43 closed

[2017-03-27 07:54] aktau commented on #60
There was another similar report too. I'm not sure what went wrong here... I'm going to check the makefile. Do the latest binaries support the flag? They should... Please reopen if they don't

[2017-03-27 07:54] #60 closed

[2017-03-27 08:10] aktau commented on #44
I see what the problem is... the `make release` command does not clean old binaries, it re-uses them if they're already present. That's stupid, I'll get that fixed when I'm near a usable computer.

[2017-03-27 08:11] #18 closed

[2017-03-27 13:42] mfonville commented on #38
@aktau thanks for picking up development again! :)

[2017-03-27 16:03] philoserf opened #63 "Release Notes and/or Changelog"
As a project intended to aid in release it is a shame to note be creating Release Notes and/or a Changelog. Please consider adding these to the projects release process.

[2017-03-27 18:24] nathanleclaire commented on #43
nice thanks for the followup @aktau

[2017-03-28 17:21] iwconfig commented on #60
I have not fully tested it but `--label` is at least recognized and `--version` is working so i guess this issue can remain closed. :) great piece of software, gives a headache relief really. thanks!

[2017-03-28 21:51] jaytaylor opened #64 "Latest updates broke my automation built on top of github-release"
Hi,

Thank you for making this amazingly useful tool!

In the future, it'd be great if output formatting changes were avoided, or if a JSON output format were added.  Basically, the change of outputting `tags:` instead of `git tags:` broke part of a release pipeline that I maintain, and the subtlety of difference made it kind of painful to track down.

Thanks again for all your hard work on this.

[2017-03-29 10:51] mfonville commented on #57
afaik releases and assets are always still done by a user, as member of organization, and not by the organization as entity

[2017-03-29 10:54] mfonville commented on #26
@aktau would it be possible to take a look at this issue; it is one of the most painful problems at the moment with github-release/gothub that stalled uploads can't be detected in a sane manner.

https://github.com/itchio/gothub/issues/2

[2017-03-29 19:15] aktau commented on #64
Hi Jay,

First of all, thanks for the kinds words. Second: you're absolutely right. Breaking the output, even if it follows no sane convention, was gratuitous. There was no real reason for it apart from the fact that my current easthetic sensibility preferred a single word. I thought for just a moment that somebody may be relying on it, then discarded the idea as I thought the output formart looke

[2017-03-29 19:15] #64 closed

[2017-03-29 19:20] aktau commented on #48
While this is possible to do, I'd tend towards keeping it a bit more UNIX. Is there any reason why you can't use the following, for example:

[code]

This uses GNU parallel, but xargs(1) can basically do the same thing. How does that sound?

@ostcar: You could do: `parallel github-release upload ... --name {} --file {} ::: path/to/dir/*`, no problem.

[2017-03-29 19:20] #48 closed

[2017-03-29 19:27] jaytaylor commented on #64
Nicolas,

I'm glad we've been able to converge to the same wavelength on this, and am pleased the feedback seems to have been received in the spirit I'd intended!

Cheers,
Jay

[2017-03-29 20:16] jaytaylor commented on #64
FYI I've gone ahead and opened PR #65 which addresses the JSON side of this.

[2017-03-29 20:24] #44 closed

[2017-03-29 20:24] #63 closed

[2017-03-29 20:25] aktau commented on #63
I hope that's what you meant. Indeed it's much nicer if the commit message that was on the tags is also on the release page.

[2017-03-29 20:31] aktau commented on #26
@mfonville I'll see when I get enough time for the ideas presented on https://github.com/itchio/gothub/issues/1#issuecomment-217632899. I hope soon.

As for the timeout though: I was adding it, but then I thought that there was an alternative that basically did the same thing without adding another option: http://man7.org/linux/man-pages/man1/timeout.1.html. Quite UNIXy, I like it. Would this work

[2017-03-29 20:56] aktau commented on #26
@mfonville can you check whether 70ed556 does anything for you? That would be too sweet :).

[2017-03-29 21:07] aktau commented on #57
Seems like @mfonville has more experience with the GH API. I'd suggest creating a robot/fake user and add it to your organization, in order to perform changes.

[2017-03-29 21:07] #57 closed

[2017-03-29 21:22] aktau commented on #27
The current upload command should print out everything in verbose mode.

Or do you rather want it to print out only the asset ID on failure to upload? (BTW: which HTTP status codes should one check for?).

[2017-03-29 21:26] aktau commented on #27
Actually, this should already be printed, even without verbose mode:

[code]

At least if the error message follows standard Github formatting. Which of the error messages do you see?

[2017-03-30 07:16] mfonville commented on #26
@aktau I will check it out soon, I can't at this very moment because my production relies on it ;-)

I already use the linux `timeout` as a wrapper command, but it is kind of ugly, because it can't track the actual progress and thus any value I pass with it has to do rough worst-case estimates concerning bandwidth and the actual time it would take to do the upload.

The problem with the uploads is

[2017-03-30 08:39] titpetric commented on #15
@c4milo you opened it and you can close it. You can also add information about how it is solved for people who are looking at the same thing :)

[2017-03-30 11:40] c4milo commented on #15
@titpetric, I ended up writing my own https://github.com/c4milo/github-release

[2017-03-30 12:33] titpetric commented on #15
@c4milo Awesome, thanks. I might just use that one, for other reasons (makefile changelog/diff). :)

[2017-03-30 21:16] aktau commented on #15
Neat. I like the user interface too.

[2017-03-30 21:16] #15 closed

[2017-03-31 07:02] kashishm opened #66 "Getting error when trying to upload files to drafted release"
**Command**
[code]

**Error**
[code]

[code]

[2017-03-31 20:08] aktau commented on #66
This is really really strange. I'm going to try and recreate this with a draft release.

[2017-03-31 20:15] aktau commented on #66
Ah yes, the new method for finding the release of a tag (described here: https://developer.github.com/v3/repos/releases/#get-a-release-by-tag-name), commit 70ed556f1a4645bb80868084cf9cbec60824e5fd, does not support finding draft releases this way, I think. That sucks...

[2017-03-31 20:24] #66 closed

[2017-03-31 20:48] aktau commented on #66
See if release 0.7.2 does it for you. If not, please reopen the issue.

[2017-03-31 20:54] aktau commented on #26
I had to rollback 70ed556 because it caused github-release to no longer be able to upload assets to draft releases. I'll see if I can adapt https://github.com/itchio/gothub/commit/589f120bd685af3d4d7888a62c773e3b5a21b115. Correctness is most important.

[2017-04-01 22:18] aktau commented on #26
OK, I hope this one does it. @mfonville, can you give ce89c10 a try?

[2017-04-01 22:18] aktau commented on #26
(It doesn't handle timeouts, but should make uploading quite a bit more robust).

[2017-04-03 06:42] kashishm commented on #66
@aktau It is working now. Thanks for the fix.

[2017-04-03 09:54] mfonville commented on #26
@aktau thanks for these changes.

I was using gothub with the `-R` flag for when timeouts happened; if I replace gothub with this version of github-release, could I enable some logging easily to detect these events? That way I could verify and provide feedback

[2017-04-03 20:11] aktau commented on #26
I added 1139b43 with some extra debugging hooks. Those should print a line with a predictable format in case the problem happens. Does that work for you?

[2017-04-03 21:03] aktau commented on #26
I also added a HTTP inactivity checker which should hopefully make sure that the app never hangs more than a minute after github server dissapears from the internet. Let me know if it works out for you.

[2017-04-04 16:43] mfonville commented on #26
@aktau thanks, I will try this code on my production machine; is it also possible to print debug statements when that timeout happens?

[2017-04-04 17:19] mfonville commented on #26
silly question btw from me, but `go get` fetches the latest HEAD right?

[2017-04-04 17:35] aktau commented on #26
`go get -u` will update and install from the latest head. I think `go get` without `-u` just does nothing if the repo is already present.

When a timeout happens, you should get a very peculiar error message (it basically makes the `http.Get` call return `nil-resp, non-nil-err`, which will get printed unless you specify `-q`). If you want to see what this looks like, you can locally modify the `HT

[2017-04-05 05:41] mfonville commented on #26
It did *not* work the log is full with statements like:
[code]
It seems only some small assets were able to get uploaded successfully, but almost all did (repeatedly) fail (the upload commands were with the `-R` flag)

[2017-04-05 12:11] aktau commented on #26
That's interesting. I'll take a look when I get time (and revert the commit). I shouldn't have been experimenting on master branch, that's very bad form.

Let's do it on a PR branch and you can build experimental github-release's from there.

[2017-04-05 12:13] aktau commented on #26
(It's especially weird that this seems to happen in a read request... and that the read request goes in this direction: `read tcp X.X.X.X:51768->192.30.253.96:443`)

Maybe we should give it a try with timeouts on the `write` methods only.

[2017-04-07 08:17] mfonville commented on #26
I don't know how the process works. But maybe that `write` is indeed only enough.

We could do some automated testing for when the PR would be in good shape

[2017-05-07 08:08] samrocketman opened #69 "Why using tar.bz2?"
Other go projects directly publish their go binaries.  It simplifies downloading it via script.  If compression is the concern then why use `.tar.bz2` with a directory structure inside?  i.e. `bin/linux/amd64/github-release`.

One could simply use `bzip2` to create a `github-release.bz2` since there is only a single file.  Tape archive (tar) command is typically used when there's more than one fil

[2017-05-07 08:30] samrocketman commented on #69
For what it's worth here's how I get around the problem.

    tar --xform='s#^.+/##x' -xjf ../linux-amd64-github-release.tar.bz2

[2017-05-13 12:36] #69 closed

[2017-05-13 12:37] aktau commented on #69
Hi Sam,

You're right, it's pretty poor form. The compression is useful since the binary really does compress a lot.

I've added a commit to fix it (generate direct bzip2'ed files). If this is good for you, I'll create a new release and upload those files. Please let me know.

[2017-05-13 13:53] samrocketman commented on #69
Direct `bzip2` files are good with me :smiley_cat: .  `tar.bzip2` was only a minor inconvenience since I had a workaround.  Thanks for addressing this.

[2017-05-26 09:56] chitin opened #70 "please help"
../../../go/bin/src/github.com/aktau/github-release/cmd.go:96: enc.SetIndent undefined (type *json.Encoder has no field or method SetIndent)

[2017-05-26 11:08] aktau commented on #70
It seems like you're using an version of Go older than v1.7, when json.Encoder.SetIndent was introduced. See https://github.com/golang/dep/issues/230.

You can still pull from older commits (before SetIndent was introduced) or download the precompiled binary assets from the releases page.

There's no formal support level for which version of Go github-release will compile with. If enough users say

[2017-05-26 11:08] #70 closed

[2017-06-16 00:40] morrowa opened #71 "Feature request: auto-detect content type"
Attached is a patch which auto-detects the content type of a binary being uploaded with the `upload` command. It uses the built-in content type detection algorithm in the `http` package. It also adds a command-line switch to override the auto-detected content type.
[0001-Add-content-type-autodetection.patch.zip](https://github.com/aktau/github-release/files/1079409/0001-Add-content-type-autodetect

[2017-06-28 14:42] ItaloKnox opened #72 "Getting error 413 Request Entity Too Large"
Hello.

I've been using github-release for a few months to edit and keep updated a single static release. Instead of pushing a new release, we keep a single tag and remove and add an updated ``.zip`` for every update we make. Unfortunately that is necessary since we use a (dumb) script that picks and downloads files from that specific tag. If you want to see it, [check here](https://github.com/07t

[2017-07-10 04:10] JavidPack opened #73 "ARM release binary"
It would be nice for am ARM release (raspberry pi). I went with the go get method and the program works fine, it was just a hassle installing and setting up go itself. A binary for this would be nice for future users.

[2017-07-29 21:24] retorquere opened #74 ".env support?"
Does github-release have .env support? If not, could it be added?

[2017-07-30 13:25] aktau commented on #74
What is `.env` support, if I may ask?

It doesn't support it now, I think (depending on what it is).

[2017-07-30 13:30] retorquere commented on #74
Sorry: https://github.com/joho/godotenv

It picks up environment variables from a special file in the current directory, so you can vary vars per invocation / project.

[2017-09-06 22:23] JavidPack opened #76 "info verb with valid parameters returns 1 instead of 0"
I am using "github-release info  ..." to validate that a repository exists and that the token works in a script I have, but the problem is github-release considers a repository with no tags yet to be an error and prints out "error: no tags available for name/reponame" and returns with a return code of 1 instead of 0.

This behavior to me seems misguided. In my opinion, it should be a success rathe

[2017-09-28 20:45] hartzell commented on #74
You can use [direnv](https://direnv.net/) (also written in go!) to handle this without changing github-release.

[2017-10-16 19:09] kevinburkeotto opened #77 "allow equals signs between command line keys/values"
If I use the flag package like this:

[code]

and then invoke it at the command line like this:

[code]

It works just fine. By contrast, `github-release` complains that these are "invalid trailing arguments:"

[code]

It's confusing because it's not obvious what the mistake is, and the syntax is valid per the Golang `flag` package rules.

[2017-10-27 06:26] kevinburke opened #78 "strip access tokens from error URL's"
If I try to upload a file to a repo and get a 404, my access token gets printed to the terminal.

    error: expected '200 OK' but received '404 Not Found' (url: https://api.github.com/repos/org/repo/releases?access_token=myaccesstoken&per_page=100)

I would rather not have my access token printed to the terminal.

[2017-10-30 11:50] majenkotech opened #79 "Can't install on my server"
[code]
go version go1.6 linux/amd64

[2017-12-20 13:02] kun-zhou commented on #79
some issue here

[2018-01-22 15:11] michaelstalker opened #80 "Create annotated tags"
When we create GitHub releases, we need to create annotated tags as part of the process, rather than lightweight tags. Would you be opposed to me adding a new flag that lets the user create an annotated tag instead of a lightweight tag?

[2018-02-12 23:04] danielbayley opened #82 "Delete command to also delete tag"
I wonder if the `delete` command should also remove the `--tag` (both locally and on the remote)? The underlying `git` command for this is:
[code]
I have an alias set up, but thinking maybe this should be the default?

[2018-02-16 06:26] samrocketman commented on #48
Here's how I did this with `xargs`.

[code]

Also uploads in parallel.

[2018-03-11 20:44] MandarinConLaBarba opened #84 "Question: is it possible to edit the prerelease flag (from true to false, for example)"

[2018-03-13 08:47] antmak commented on #79
Try to use static build https://github.com/aktau/github-release/releases/download/v0.7.2/linux-amd64-github-release.tar.bz2

It works everywhere

[2018-03-14 23:54] bndw opened #85 "Failed upload leaks credentials"
First, thanks for providing a simple tool for working with Github releases!

It appears that when using the `upload` command to a non-existent repository, the `access_token` is leaked in the error message. This is a problem when running this tool in an open-source project's CI system.

[code]

[2018-03-16 05:12] antmak commented on #73
I also want to!

[2018-04-05 21:14] zacharee commented on #33
@aktau that results in the following error:
[code]

[2018-05-05 00:16] tsauvajon commented on #79
How do you uncompress this file ?
[code]

[2018-05-17 15:40] ko-ichi-h opened #87 "error: could not upload, status code (504 Gateway Time-out)"
Thank you very much for developing this nice software and providing us binaries! It really helps.

I can upload small binary files without errors.  But when I try to upload a larger file (550MB), I got this error.  Here is the last part --verbose message.

My upload speed is about 100 Mbps. I am using "windows-amd64-github-release.zip" on Windows 10 64bit.

Strangely, though I see the above error

[2018-09-07 22:56] romjacket opened #89 "32bit binary"
Is it possible to add a windows 32bit binary to your releases?
thanks

[2018-10-23 03:52] antmak opened #90 "Doesn't work for me"
Some time ago, the github-release worked. But now it doesn't work, an error 404 appears. I've tried several projects (new and old ones): only 'info' verb works fine. How do you think about?

[2018-10-23 04:13] antmak commented on #90
Hmm. The token scope was guilty. See https://github.com/aktau/github-release/pull/91

[2018-10-23 04:13] #90 closed

[2019-01-17 08:14] retorquere opened #93 "space in filename replaced with period"
When I run this

[code]

The file name in the release ends up being `The.Brain.js`. Can I prevent this?

[2019-01-29 20:56] ximbal opened #94 "octokit.authenticate() is deprecated. Use "auth" constructor option instead."

[2019-01-29 20:57] #94 closed

[2019-02-26 19:40] SteelPhase opened #95 "Is this project dead?"
It appears that the maintainer is not responding to Pull Requests, or issues, and there hasn't been any changes since 2017

[2019-02-26 23:03] kuboosoft commented on #95
Maybe the developer doesn't have time... fork it and merge the pull requests... I am using github-release is a great piece of software... @aktau

[2019-03-14 05:04] antmak commented on #95
I use https://github.com/itchio/gothub - a little changed fork with more convenient name

[2020-02-03 22:44] jc21 commented on #85
In addition to this, the access token should not be in the URL as it is deprecated. Github sent me a message about this today.

Since the project looks dead, looks like I'll be using one of the forks and if they don't fix this, I'll be forking the fork..

[2020-02-04 09:08] Bilge opened #97 "API authentication method call deprecated"
GitHub has started emailing users who call their API with the deprecated URL authorization scheme.

[More information](https://developer.github.com/changes/2019-11-05-deprecated-passwords-and-authorizations-api/#authenticating-using-query-parameters).

[2020-02-04 18:06] starwarsfan commented on #97
Same here, also got the GitHub notification mails...

[2020-02-05 21:56] JavidPack commented on #97
It would be great if someone forks this and fixes this issue. There are no maintainers on this project anymore it appears, and this twice a week email will be scary for my end-users. If someone does fork this to fix this, please comment here so we can be informed.

[2020-02-13 19:07] kevinburkemeter commented on #97
I'm working on this now. The main problem is Github now requires you to send the username corresponding to the access token, which means we need to change the project API. `GITHUB_USER` is used to refer to the project being downloaded, uploaded, or released, so we need a different variable or format for this.

[2020-02-13 20:57] tucksaun commented on #97
@kevinburkemeter actually you don't: sending the token base64 encoded as a basic authentication header works. You can also do "Authorization: token <value>".

[2020-02-13 21:14] kevinburkemeter commented on #97
Oh! OK, let me try that.

[2020-02-13 22:04] kevinburkemeter commented on #97
OK, just pushed a fix to github.com/meterup/github-release, as well as a 0.7.4 release. Please try it out! https://github.com/meterup/github-release/releases/tag/v0.7.4

[2020-02-13 22:05] kevinburkemeter commented on #97
Same API, no need to pass in an auth username, but you can if you want.

[2020-02-14 06:59] gdm85 commented on #97
I had an older fork at https://github.com/gdm85/github-release; I will also add support like @kevinburkemeter did but without introducing the `github.com/kevinburke/rest` dependency.

[2020-02-14 08:20] Bilge commented on #97
@kevinburkemeter I don't know why you disabled issues on your repository, but I thought it was supposed to be a drop-in replacement. My command, which has worked for years until this day, does not work on your fork.

[code]

Looking forward to trying @gdm85's fork instead.

[2020-02-14 17:23] kevinburkemeter commented on #97
Yes, the goal was to make it a drop in replacement. Considering you're getting something for free, and I have no obligation to help anyone in this situation, I'm a little frustrated with the tone you're taking.

I didn't touch the Makefile at all so I'm not sure why it's broken. The file you are trying to run needs to be executable though. Try running `chmod +x linux-amd64-github-release`.

[2020-02-14 17:30] kevinburkemeter commented on #97
I suspect it has to do with b61ce1a1426379d208f188311954fde680ac99f0 which was added after 0.7.2 was released. So, drop in replacement for the untagged master version of the github-release project.

Anyway, I'll push a fix later today.

[2020-02-14 17:36] ocdtrekkie commented on #97
I may be inclined to just look at the script we have this in, and see if it's easy enough to replace it with `hub` rather than chasing down forks of a third party tool to begin with. It looks like `gh` from GitHub doesn't yet have release functionality, but `hub` does.

[2020-02-14 18:33] ocdtrekkie commented on #95
Question: Does this offer any functionality `hub release` doesn't? https://github.com/github/hub

It looks like Hub added release functionality in 2018, which might explain why the developer stopped bothering after 2017.

[2020-02-14 22:01] gdm85 commented on #97
The best would be to use GitHub official CLI, there is no doubt.

Until that I have updated my fork at https://github.com/gdm85/github-release and [tagged v0.8.0](https://github.com/gdm85/github-release/tree/v0.8.0) for the working version that adds support for `--auth-user`/`GITHUB_AUTH_USER` and uses the Authorization header (cc @Bilge).

**NOTE 1:** please do some thorough testing before puttin

[2020-02-14 22:01] kevinburkemeter commented on #97
@Bilge I just confirmed that the issue you ran into was introduced in the last commit on the original project, in 2017, so it's been there for three years. The reason you haven't seen it before is that commit never made it into a release version.

In any event, I just pushed a fix to meterup/github-release@c3c29b795c7dac3c1d5736dc0388493e5519df43, which is present in v0.7.5.

[2020-04-03 04:49] antmak commented on #95
@ocdtrekkie

`hub` is very awkward . It requires a clone of some GH repo to update a few assets in a release of some project.

[2020-04-22 22:59] amotl commented on #97
Dear @kevinburkemeter,

thanks for picking up the work on `github-release`. We have been getting respective notification mails from GitHub and hoped someone would have made the appropriate patches to this program already.

We are happy to see it has been you. Updating the documentation was easy (https://github.com/hiveeyes/terkin-datalogger/commit/8c58bd886e24caca8c8cc806b5062c585deaea31).

So, th

[2020-04-28 15:14] iainbethune opened #99 "Switching homebrew to use meterup fork"
Since this repo seems pretty inactive, I created a PR on homebrew to update the github-release formula to use the @meterup @kevinburkemeter fork (https://github.com/meterup/github-release), starting with release 0.7.5.  This includes a fix for #97 among other things.

See https://github.com/Homebrew/homebrew-core/pull/53891

[2020-04-28 19:15] aktau commented on #99
Hi @iainbethune,

First of all: pretty inactive is an understatement. It's just under poor maintainership. I haven't prioritized working on this project since I started working for $DAY_JOB years ago.

So I'm happy that @kevinburke (AKA @kevinburkemeter I reckon) has agreed to take over maintainership.

You may have noticed that github.com/aktau/github-release now redirect to github.com/github-rel

[2020-04-28 20:48] aktau commented on #95
It was dead for a very long time, but @kevinburke (AKA @kevinburkemeter) has agreed to take over maintainership. He had already been maintaining a fork (https://github.com/meterup/github-release).

Perhaps it would also be a good idea to tell the hub(1) developers that this is not ideal. IMHO it's always better to use a CLI tool maintained by the people implementing the API.

[2020-04-29 19:42] #95 closed

[2020-04-29 19:42] #97 closed

[2020-04-29 20:03] kevinburke commented on #99
Thanks Nicolas! I believe this is resolved now so going to close.

[2020-04-29 20:03] #99 closed

[2020-04-29 20:04] #89 closed

[2020-04-29 20:04] #78 closed

[2020-04-29 20:05] kevinburke commented on #74
Hi, this is not a priority but you're welcome to use direnv or envdir from daemontools to implement on your own! Best of luck.

[2020-04-29 20:05] #74 closed

[2020-04-29 20:05] kevinburke commented on #79
Going to mark this as resolved, please reopen if you run into further problems.

[2020-04-29 20:07] kevinburke commented on #55
Hi, this is a little more complex than I'm willing to add support for. You should be able to implement this with a combination of delete and create invocations.

[2020-04-29 20:07] #55 closed

[2020-04-29 20:08] majenkotech commented on #79
I obviously fixed it somehow. I have no clue what I did, but suffice it to say I had completely forgotten about the issue...

[2020-04-29 20:08] #79 closed

[2020-05-01 14:00] stephenmathieson opened #101 "cannot `go get` with go 1.8 (anymore)"
We use this tool in one of our release pipelines. We haven't changed any of our deployment stuff in a few months, but last night saw this error:

[code]

It looks like we need to update our `go` version (we're still using 1.8) in order to be compatible with the `v0` line of this tool.

---

To reproduce, build this `Dockerfile`:

[code]

---

Was dropping support for older `go` versions intentiona

[2020-05-01 19:03] kevinburkemeter commented on #101
Hi, apologies, not intentional, but a consequence of adding a new dependency that depends on `golang.org/x/sys`, which uses `math/bits`.

I'm gonna work on reworking the dependency to avoid the extra import. In the meantime, you may want to try downloading a compiled binary directly; I'm not sure continuing to support a Go release that is six versions old is going to be a priority going forward.

[2020-05-01 23:05] tkyi opened #102 "Duplicate base URL"
We're running the github-release command like this: https://github.com/screwdriver-cd/toolbox/blob/master/git-release.sh#L38

With the latest release (v0.8.0), we're seeing failures due to a duplicate base URL in release command:
[code]

Could it be because there's already a defaultBaseUrl for NewClient?

[2020-05-01 23:35] kevinburke commented on #102
Hi, thank you for the report, investigating now.

[2020-05-01 23:56] kevinburke commented on #102
Someone filed an issue with a similar complaint recently: https://github.com/meterup/github-release/issues/1

However the script indicates you're downloading from the compiled version and that should have fixed the issue linked there. I also tried using the downloaded version and wasn't able to reproduce. I'm still investigating.

[2020-05-02 00:10] tkyi commented on #102
Here's the full log if that helps: https://cd.screwdriver.cd/pipelines/7/builds/233174/steps/publish

[2020-05-02 00:10] kevinburke commented on #102
Thanks, I'm attempting to reproduce using your script in a Docker container.

[2020-05-02 00:14] kevinburke commented on #102
Here's my Dockerfile:

[code]

Replace GIT_ORG and GIT_REPO with a repo that your token has write permission for. And bash script - I modified to hard code the GIT_ORG and GIT_REPO and print out all instructions as they run.

[code]

I successfully created the release and uploaded the file: https://github.com/kevinburke/github-release/releases/tag/issue-102-testing

Is it possible you have an olde

[2020-05-02 00:15] kevinburke commented on #102
(Put Dockerfile and `git-release.sh` in the same directory then run

[code]

(get your GITHUB_TOKEN from wherever you get the token from)

[2020-05-02 06:10] kevinburke commented on #102
I just pushed v0.8.1, which should provide more defense against a (possible) way that you ran into the issue above - if you could add `$(GITHUB_RELEASE) --version` to your script so I can ensure you're running the version I just released that would help with troubleshooting!

[2020-05-04 13:23] stephenmathieson commented on #101
I figured as much. Not a big deal, as we were able to manually tag/etc the project. Moving to a compiled binary is a good suggestion tho. I'll probably do that to avoid issues like this in the future.

For now, I just updated the image to use go v1.10 and everything seems fine.

[2020-05-04 18:44] tkyi commented on #102
Confirmed it has v0.8.1 and it published successfully! Thank you
https://cd.screwdriver.cd/pipelines/7/builds/238720/steps/publish

What changed?

[2020-05-04 19:17] kevinburke commented on #102
Frankly the whole thing leaves me a little confused. The most likely culprit is github-release compiled an outdated version of a dependency, github.com/kevinburke/rest, which displayed exactly the error that you presented at the top of the ticket.

However, I patched the dependency a while ago, and included the patched release in both the 0.8.0 and 0.8.1 binaries. If you were downloading a 0.8.x b

[2020-05-15 04:35] #102 closed

[2020-05-16 21:21] ipointer-certifid opened #104 "OWNER vs USER"
It seems that this tool us using the user as part of the URL.  In my case, I am needing to work with releases for my organization (instead of my user).  Because of this, I'm getting 404 responses back from GitHub.

For example, my user is: ipointer-certifid
But the owner of the repository is CertifID

I need the URL that this tool hits to be: api.github.com/CertifID/myrepo instead of api.github.co

[2020-05-17 05:51] kevinburkemeter commented on #104
You should be able to set --auth-user separately from --user. Which flag
are you attempting to use?

On Sat, May 16, 2020 at 2:22 PM Ivan <notifications@github.com> wrote:

[2020-05-17 17:27] ipointer-certifid commented on #104
Had I just waited for your response, I would have saved myself a couple hours of working to get it working with cURL… in Windows 😅.

I’ll give it a shot and see if that works.

If so, I’ll double check the docs and submit a PR to make it more clear for us Enterprise users 😊

Thank you Kevin!!

From: Kevin Burke <notifications@github.com>
Sent: Sunday, May 17, 2020 12:51 AM
To: github-release/githu

[2020-05-17 17:28] kevinburke commented on #104
If you run github-release —help it should list all of the available flags

On Sun, May 17, 2020 at 10:27 Ivan <notifications@github.com> wrote:

--
Kevin Burke
phone: 925-271-7005 | kevin.burke.dev

[2020-05-29 14:28] JAVS-CI opened #106 "`release` verb does not have `--auth-user` option"
I'm running `github-release v0.8.1`. I'm trying to authenticate using the continuous integration user `xxxx-ci`, trying to create a release for `myOrg/automation_sandbox`. Here's the command line:

    C:\github-release\github-release.exe release --security-token xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx --auth-user xxxx-ci --user myOrg --repo automation_sandbox --tag build-8.0.0.17

Here's the err

[2020-05-29 19:03] #106 closed

[2020-06-09 05:00] QingYanL opened #107 "error: could not find the release corresponding to tag v1.3"
github-release v0.8.1

- run
[code]

error: could not find the release corresponding to tag v1.3
![image](https://user-images.githubusercontent.com/48231505/84107768-1df6ae00-aa51-11ea-9821-1f487d4032fa.png)

I confirm the existence tag for v1.3
(https://github.com/QingYanL/mavendemo/releases/tag/v1.3)

Please help me. What should I do ?

[2020-06-09 06:09] QingYanL commented on #107
I try update .tar.gz to .zip
error: Get "https://api.github.com/repos/QingYanL/mavendemo/releases?per_page=100": dial tcp 13.250.168.23:443: connect: connection refused

![image](https://user-images.githubusercontent.com/48231505/84112051-a0d03680-aa5a-11ea-8683-8e9efa0c1473.png)

If I want to upload .tar.gz , what I can do

[2020-06-09 16:51] kevinburke commented on #107
I think this is an issue with the Github UI. It shows Git tags on the "releases" page, but you need to explicitly click on 'Draft a release' and associate it with the tag.

Try running:

[code]

before you run:

[code]

[2020-08-10 16:40] #107 closed

[2020-10-01 16:18] alertedsnake commented on #85
@jc21 did you fork the fork?  I need this fix as well :)

[2020-10-01 16:44] kevinburkemeter commented on #85
I thought I fixed this... is it not fixed?

[2020-10-01 16:50] ocdtrekkie commented on #85
It's worth noting the official gh tool supports release management now, depending on your situation, switching to the official tool may be a good option now.

[2020-10-01 17:08] alertedsnake commented on #85
@ocdtrekkie I just noticed that myself!  So disregard my comments here, I'll use their tool instead.

[2020-10-12 08:22] wangbo1185742894 opened #108 "Invalid option `--body'"
`--body'  unusable，How to solve

[2020-10-12 08:36] #108 closed

[2020-10-20 04:08] #85 closed

[2020-10-20 04:10] kevinburkemeter commented on #85
apologies for the delay; I've just merged the fix

[2020-10-20 04:10] #104 closed

[2020-10-20 04:12] kevinburke commented on #101
Apologies, given you were able to workaround and Go 1.8 is now quite old, I would recommend you switch to a newer version or use a binary that was compiled with a newer Go.

[2020-10-20 04:12] #101 closed

[2020-10-20 04:12] kevinburke commented on #87
My guess is the Github API just had a hiccup. I would suggest trying the request again if this happens or building in retry logic.

[2020-10-20 04:12] #87 closed

[2020-10-26 18:23] ncw opened #109 "go get is picking up v0.8.1 not v0.9.0"
I'm not sure why this is but `go get` is getting an old version of github-release

Here is a demo with a clean go install

[code]

[code]

[2021-01-06 10:49] BrendanGalloway opened #110 "got get fails due to changes in github.com/kevinburke/rest"
go get github-release is failing with the error:

```/go/pkg/mod/github.com/github-release/github-release@v0.9.0/github/github.go:179:15: undefined: rest.DefaultErrorParser```

on the way, it is pulling github.com/kevinburke/rest v0.0.0-20210106062955-7f83c79a0622, which appears to have moved DefaultErrorParser from the rest package to the restclient package.

[2021-01-06 11:33] kevinburke commented on #110
Yikes will fix shortly. Sorry.

On Wed, Jan 6, 2021 at 02:49 Brendan Galloway <notifications@github.com>
wrote:

--
Kevin Burke
phone: 925-271-7005 | kevin.burke.dev

[2021-01-06 11:46] #110 closed

[2021-01-06 11:52] kevinburkemeter commented on #109
this should be fixed now, apologies, can you try it out? latest version should be 0.10.0.

[2021-01-06 11:53] kevinburkemeter commented on #110
can you try this out now? and let me know whether it's working? it should be fixed, both because the import works again, and because I fixed this library to point to the new place in version 0.10.0.

[2021-01-06 15:37] ncw commented on #109
That is working fine now :-) Thank you!

[2021-01-06 15:37] #109 closed

[2021-01-19 11:48] chrmod opened #111 "invalid response body "Server error""
Since two days we have started to experience problems with `github-release`.

This is sufficient to reproduce the problem: `github-release  info --user ghostery --repo user-agent-desktop`

Output:
[code]

[2021-01-19 17:13] kevinburkemeter commented on #111
Here's the entire request/response loop. My guess is that you need to specify a github token now. I don't know that we can really control the fact that a 502 is being returned by Github.

[code]

[2021-01-19 17:14] kevinburkemeter commented on #111
Pass `--security-token` to make the request with a token.

[2021-01-19 18:04] chrmod commented on #111
I'm using `GITHUB_TOKEN` env variable with the same effect. Also this is a public repository.

Does the command work fine if you pass the `--security-token` ?

PS. All was working fine since few days ago.

[2021-01-19 18:17] kevinburkemeter commented on #111
The command works for me with GITHUB_TOKEN present in the environment, and the most recent github-release commit, or v0.10.0.

[code]

Also works if I set `--security-token`.

[code]

[2021-01-19 18:40] chrmod commented on #111
It works for me now as well, with token and without. Earlier Today it was working in 1 of 10 times.

Somehow you was also able to experience "Server Error" problem.

Right now I'm no longer sure where the problem lies:
* it may be on github side, but githubstatus.com did no report any related issues
* it may be data it ghostery/user-agent-desktop repository, but why it would start working again?

[2021-02-10 23:57] IceCodeNew opened #112 "Support for publishing multi-line text in `description`."
Command:
<pre>
# github-release release \
    --user cbdb-project \
    --repo haproxy_static \
    --tag "v${haproxy_latest_tag_name}" \
    --name "v${haproxy_latest_tag_name}" \
    --description "The released deb packages had been tested on Ubuntu 16.04 & Debian 8.\nIt is recommended to initiate a Systemd drop-in file for the haproxy that supports the sdnotify features of systemd, just issue c

[2021-02-10 23:59] IceCodeNew commented on #112
`github-release` also removed the commands which are wrap by backticks, which also baffles me.

[2021-02-11 00:14] kevinburke commented on #112
These are both issues with your shell - backticks are being evaluated as commands before github-release even sees the string to evaluate. Run any command, like "echo" or "cat" and you'll get the same result.

[2021-02-11 00:14] #112 closed

[2021-02-11 00:19] IceCodeNew commented on #112
Got it, thanks!

[2021-02-11 00:20] IceCodeNew commented on #112
I was able to solve this problem by issuing:
[code]

[2021-05-05 18:51] LPTechAdmin opened #113 "oauth"
As of today Github cut out functionality of personal access tokens, as they want users to use the oauth2 tokens. Are these supported?

[2021-05-05 21:22] LPTechAdmin commented on #113
{
  "message": "Must specify access token via Authorization header. https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param",
  "documentation_url": "https://docs.github.com/v3/#oauth2-token-sent-in-a-header"
}

[2021-05-10 03:47] trinhpham opened #114 "Random error: invalid response body"
Hi folks,

I was using this tool for automating the process to create a github release in [my project](https://github.com/trinhpham/xiaomi-r3g-openwrt-builder).
This works fine until today, I got below error in [my Travis-CI build](https://travis-ci.com/github/trinhpham/xiaomi-r3g-openwrt-builder/jobs/504153854#L1837):

<details><summary>Logs - Click to expand</summary>

<p>

[code]

</p>

</detai

[2021-05-16 21:12] ivan-aksamentov opened #115 "Allow for "Create a discussion for this release" feature"
It would be nice to have an option to automatically enable this checkbox:

<img src="https://i1.wp.com/user-images.githubusercontent.com/1923260/113341794-76e64a00-92e2-11eb-9d35-3f843d0a313c.png"/>

to allow reactions and discussions for the newly created release.

This GitHub feature is described here: https://github.blog/changelog/2021-04-06-releases-support-comments-and-reactions-with-discussi

[2021-06-10 08:03] ducnguyen2595 opened #116 "Can not `github-release upload` during Github brownout day"
we got 400 with the latest version
[code]

[2021-06-10 08:05] ducnguyen2595 commented on #116
issue seems like with access token, please help to take a look

[2021-06-10 12:44] tadejgolobic commented on #116
Same issue on our side.

[2021-06-27 11:32] inaryart opened #117 "Is there a proxy option"
I want the program to connect to the designated proxy

[2021-08-05 21:05] mikehardy commented on #116
https://developer.github.com/changes/2020-02-10-deprecating-auth-through-query-param/

I had a look through the code but in a quick look I couldn't see where the auth was done via query parameters, it must be in there somewhere.

The change should be easy though, instead of a query param it should be sent as a header per the linked doc:

There will be another outage on August 11 for 48 hours.

[2021-08-16 15:42] cruizba commented on #116
This is weird, I think something is wrong in the build, because there is no file in the source code with the "access_token" parameter.

[2021-08-16 15:55] cruizba commented on #116
I'm not a developer of this tool but I'm pretty sure there is an issue with the uploaded build in the github releases section.

If you take a deep look into the log sent by @ducnguyen2595 , the error log looks like this:
[code]

But the code line which is printing this line has not this `url:` string, it is like this: https://github.com/github-release/github-release/blob/master/github/github.go#L2

[2021-08-16 16:33] cruizba commented on #116
mmm now I am not sure about this issue, I've tested the release from here: https://github.com/github-release/github-release/releases and I have no deprecation warnings.

[2021-09-15 18:02] pkrull-ansys opened #118 "Examples broken as of ~9 Sep 2021"
The examples in the README are no longer working. For instance:
[code]
This seems to have started around 9 Sep 2021

[2021-09-15 20:06] pkrull-ansys commented on #118
My bad. My GITHUB_TOKEN didn't have adequate permissions.

[2021-09-15 20:06] #118 closed

[2021-09-24 16:17] nitbx opened #119 "http2: Transport: cannot retry err"
Hi everyone,

We are currently facing an issue while uploading a large file:

[code]
[code]

### Version
[code]

Any ideas about this?

Thank you!

[2021-11-03 03:35] markwoon opened #120 "Ability to overwrite existing asset"
Would it be possible to add a way to overwrite an existing asset if it already exists?

I'm using github-release to update an existing release with assets.

[2021-11-23 12:34] jkreienh commented on #113
Anyone working to fix the upload issue?

[2021-12-04 00:16] Da88tag opened #121 "Æç"

[2021-12-10 16:05] jkreienh commented on #113
I was on an old release and seems to be fixed in the latest v0.10.0 release.   I think we can close this out.

[2021-12-19 08:37] #117 closed

[2022-08-05 19:22] arungogosoon commented on #101
`go get` has been replaced with `go install` in 1.8 version.
Refer this https://circleci.com/developer/images/image/cimg/go